<!DOCTYPE html>
<html>
<head>
    <title>Reguli Volei</title>
</head>
<body style="font-family: Arial; background-color:#eef2f7; padding:40px;">

<div style="background:white; padding:30px; border-radius:15px; width:800px; margin:auto;">

    <h1 style="color:#2563eb;">📋 Reguli Volei</h1>

    <img src="{{ url_for('static', filename='images/reguli.jpg') }}"
         style="width:100%; border-radius:10px;">

    <p style="margin-top:20px; font-size:18px;">
    Voleiul se joaca intre doua echipe de cate 6 jucatori.
    Fiecare echipa are dreptul la maximum trei atingeri pentru a trimite mingea
    peste fileu in terenul advers.
</p>

<p style="font-size:18px;">
    Un meci de volei este impartit in seturi, iar echipa care castiga trei seturi
    castiga partida. Un set este castigat de echipa care ajunge prima la 25 de puncte,
    avand o diferenta de minimum doua puncte fata de adversar.
</p>

<p style="font-size:18px;">
    Jucatorii trebuie sa respecte regulile de rotatie pe teren si nu au voie
    sa tina sau sa prinda mingea. Serviciul se executa din spatele terenului,
    iar mingea trebuie sa treaca peste fileu fara sa atinga antenele laterale.
</p>

<p style="font-size:18px;">
    Voleiul pune accent pe fair-play, disciplina si comunicare intre jucatori,
    fiind un sport spectaculos si foarte dinamic.
</p>

    <a href="/sporturi/volei">
        <button>Inapoi la Volei</button>
    </a>

</div>

</body>
</html>
