<!DOCTYPE html>
<html>
<head>
    <title>Sporturi</title>
</head>
<body style="font-family: Arial; background-color:#eef2f7; padding:40px;">

    <div style="background:white; padding:30px; border-radius:15px; width:700px; margin:auto;">
        <h1 style="color:#1d4ed8;">🏐 Sporturi</h1>

        <ul style="font-size:22px;">
            <li><a href="/sporturi/volei">Volei</a></li>
            <li><a href="/sporturi/volei/reguli">Reguli</a></li>
            <li><a href="/sporturi/volei/echipament">Echipament</a></li>
        </ul>
    </div>

</body>
</html>
